.about {
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.logo {
}

.content {
    font-size: 3rem;
}